body {
  margin: 0;
}

header {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url(images/gangavathi.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Satisfy';
  
}

h1 {
  margin: 0;
  padding-top: 2em;
  font-size: 4.5rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 200;
}